* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body {
  height: 100%;
  overflow-x: hidden; 
}

.container {
    display: fixed;
    height: 100vh;
  }
  
  .query {
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    width: 30%;
    position: fixed;
    background-color: #e8f0ff;
    overflow-y: auto;
    height: 100vh;

}
  
  .inputquery {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }

  .inputquery input{
    font-size: 20px;
  }

  .searchbutton{
    padding-right:40%;
    padding-left: 40%;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  
  .right-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  
  .title {
    font-size: 2em;
    font-weight: bold;
  }
  


  .right{
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 30%; 
    min-height: 100vh;
    width: calc(100% - 30%); 
  }

  .adress-input{
    width: 100%;
    font-size: 15px;
    padding: 10px
  }

  .map{
    height:100vh;
  }