* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    overflow-x: hidden;
  }
  
  
  .page-container {
    display: fixed;
    min-height: 100vh;
  }
  
  .item-list {
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    width: 30%;
    position: fixed;
    background-color: #0b8b10;
    overflow-y: auto;
    height: 100vh;
    z-index: 2;
  }
  
  .map-wrapper {
    background-image: url("https://beiz.jp/images_M/wood-texture/wood-texture_00017.jpg");
    margin-left: 30%; 
    min-height: 100vh;
    width: calc(100% - 30%); 
  }
  .map-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 0;
  }
  
  /* MapPage.css */
  .item-container {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
  }
  
  .item-container:hover {
    background-color: rgb(246, 246, 246);
  }
  
  .item-container.selected {
    border: 2px solid rgb(255, 0, 0);
  }
  
  .item-container.selected:hover {
    background-color: rgb(255, 223, 223);
  }
  
  .item-button {
    margin-right: 5px;
  }
  
  .details-container {
    height: auto; 
    /* overflow-y: auto; */
    margin-left: 3%;
    margin-right:2%;
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    position: relative;
    z-index: 1;
  }
  
  .detail-content {
    padding: 10px;
  }
  
  .spot-image {
    width: 100%;
    max-width: 400px;  /* 最大幅を指定 */
    height: auto;      /* 縦横比を保持 */
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .maps2{
    margin-top: 3%;
    display:flex;
    justify-content: center;
  }
  .title1 {
    font-size: 2em;
    font-weight: bold;
  }
  
  .header2{
    display: flex;
  justify-content: center;
    align-items: center;
  position:relative;
  background-color: #ffffff;
  padding-top: 2%;
  padding-bottom: 2%;
  }
.title3{
    color: #ffffff;
    margin-bottom: 3%;
}